.flex{
    display: flex;
}

.top_wraper{
    width: 980px;
    margin: 0 auto;
}

.header_wraper{
    width: 1300px;
    margin: 0 auto;
}

.main_wraper{
    width: 1200px;
    margin: 0 auto;
}

/* 不换行 */
.nowrap{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

/* 封装小图标 */

.news_type::before{
    display: inline-block;
    width: 32px;
    height: 16px;
    margin-top: 2px;
    margin-right: 2px;
    line-height: 16px;
    text-align: center;
    font-size: 12px;
    border: 1px solid #fff;
    border-radius: 2px;
}
.news_type_hot::before{
    content: '热门';
    color: #ff3636;
    border-color: #ff3636;
}
.news_type_notice::before{
    content: '公告';
    color: #f4be19;
    border-color: #f4be19;
}

.news_type_match{
    width: 48px;
    height: 19px;
    line-height: 19px;
    margin-right: 12px;
    font-size: 12px;
    background: #e3e3e3;
    border-radius: 10px;
    border: 2px solid #e3e3e3;
    text-align: center;
    color: #999;
    text-indent: 2px;
    overflow: hidden;
}
.inner_icon{
    display: inline-block;
    width: 22px;
    height: 22px;
    vertical-align: middle;
    background: url(../image/mian_spirit.png) no-repeat;
}
.icon_h{
    background-position:  -163px -68px;
}
.icon_n{
    background-position:  -137px -68px;
}
.icon_guard{
    background-position:  -136px -6px;
}


/* 内容区域头部 */
.section_header{
    margin-bottom: 16px;
    justify-content: space-between;
    align-items: center;
}
.section_header .header_icon{
    background: url(../image/mian_spirit.png) no-repeat;
}
.section_header .header_left{
    padding-left: 30px;
    padding-right: 30px;
    font-size: 22px;
    background-position: 0 -104px;
}
.section_header .header_left_macth{
    background-position: 0 -181px;
}
.section_header .header_left_hero{
    background-position: 0 -140px;
}
.section_header .header_left_kpl{
    background-position: -157px -103px;
}
.section_header .header_right{
    padding-left: 22px;
    font-size: 14px;
    color: #999;
    background-position: -252px 3px;
}
.section_header .header_right:hover{
    color: #f4be19;
}
.section_header .header_buy{
    padding-left: 32px;
    width: 70px;
    height: 22px;
    line-height: 19px;
    border: 1px solid #f3c258;
    border-radius: 3px;
    background-position: -243px -85px;
}

/* tab栏公共部分 tab_control */
.tab_control{
    height: 32px;
    line-height: 29px;
    align-items: center;
    background-color: #f5f5f5;
}
.tab_control_item{
    flex: 1;
    text-align: center;
    border-bottom: 3px solid transparent;
    color: #999;
}
.tab_control_item.item2{
    flex: 0 auto;
    padding: 0 27px;
}
.tab_control_item:hover,
.tab_control > .active{
    border-bottom-color: #f3c258;
    color: #333;
}

.tab_control_line{
   width: 1px;
   height: 20px;
   background-color: #e1e1e1;
}

/* tab栏公共部分 tab_keyword */
.tab_keyword {
    margin-top: 15px;
    flex-wrap: wrap;
}
.tab_keyword_item{
    height: 26px;
    line-height: 24px;
    padding: 0 12px;
    margin-right: 8px;
    margin-bottom: 10px;
    border: 1px solid #e5e5e5;
    border-radius: 10px;
}
.tab_keyword_item:hover,
.tab_keyword > .active{
    color: #fff;
    background-color: #f3c258;
    border-color: #f3c258;
}

