 /* 新闻模块 */
 .news-section{
  height: 342px;
  background: url(../upload/rotate_bg.png) no-repeat;
}
.news-section .banner{
  width: 605px;
  overflow: hidden;
}
.news-section .banner-top li{
  flex-shrink: 0;
  width: 100%;
}
.news-section .banner-top .item{
  display: block;
  width: 604px;
}
.news-section .banner-top .item img{
  width: 100%;
}
.news-section .banner-bottom{
  align-items: center;
  width: 100%;
}
.news-section .banner-bottom .item{
  height: 44px;
  flex: 1;
  text-align: center;
  line-height: 44px;
  font-size: 14px;
  color: #b1b2be;
}
.news-section .banner-bottom .item:hover,
.news-section .banner-bottom .item.active{
  color: #f3c258;
  background-color: rgba(255,255,255,.15);
}
.news-section .news{
 flex: 1;
 padding: 0 17px;
 overflow: hidden;
}
.news-section .title-news{
  height: 49px;
  align-items: center;
  border-bottom: 1px solid #000;
}
.news-section .title-news a{
  flex: 1;
  height: 49px;
  line-height: 49px;
  font-size: 14px;
  text-align: center;
  color: #b8b9c5;
  transition: .15s;
}
.news-section .title-news a.more{
  line-height: 40px;
}
.news-section .title-news a:not(:last-child):hover,
.news-section .title-news a.active{
  color: #f3c258;
  border-bottom: 3px solid #f3c258;
}
.news-section .notice{
  margin-top: 18px;
  margin-bottom: 14px;
  padding: 0 15px;
  height: 36px;
  line-height: 36px;
  background: #414046;
}
.news-section .notice a{
  display: block;
  width: 230px;
  font-size: 18px;
  color: #f3c258;
  
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.news-section .news-list .item{
  display: flex;
  align-items: center;
  margin-bottom: 11px;
}
.news-section .news-list .item a{
flex: 1;
padding-right: 20px;
font-size: 14px;
color: #b8b9c5;
}
.news-section .news-list .item span{
font-size: 12px;
color: #999;
}
.news-section .download{
  width: 236px;
}
.news-section .download a{
  display: block;
  background: url(../image/mian_spirit.png) no-repeat;
}
.news-section .download a.download-btn{
 height: 128px;
 background-position: 0 -219px;
}
.news-section .download a.guard-btn{
 height: 106px;
 background-position:  0 -350px;
}
.news-section .download a.exper-btn{
 height: 108px;
 background-position:  0 -461px;
}

/* 入口模块 */
.entry-section{
  padding: 28px 0 34px;
  justify-content: space-between;
}
.entry-section a{
  width: 291px;
  height: 134px;
  overflow: hidden;
}
.entry-section a img{
  width: 100%;
  transition: .4s;
}
.entry-section a:hover img{
  transform: scale(1.1);
}

/* 内容模块 */
.section-content {
  justify-content: space-between;
}
.section-content .left-content{
  width: 872px;
  height: 528px;
}

/* 赛事区域*/
.match-center .match-news{
  display: flex;
  height: 260px;
  margin: 15px 0;
}
.match-center .match-news .news-left{
  width: 211px;
}
.match-center .match-news a:hover{
  text-decoration: underline;
}
.match-center .match-news .news-left img{
  width: 100%;
}
.match-center .match-news .news-right{
  flex: 1;
  padding-left: 20px;
  overflow: hidden;
}
.match-center .news-right .title{
  display: block;
  padding-right: 80px;
  font-size: 24px;
  color: #333;
}
.match-center .news-right .subtitle{
  margin-bottom: 10px;
  padding-right: 160px;
  font-size: 14px;
  color: #666;
}
.match-center .match-news-list li{
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.match-center .match-news-list li a{
  padding-right: 20px;
  flex: 1;
}
.match-center .match-news-list li .date{
  color:  #b8b9c5;
}


/* 内容右边模块 */
.section-content .right-content{
  width: 295px;
  height: 528px;
}
.right-content .new-hero{
margin: 19px 0 10px;
width: 294px;
/* height: 224px */
}
.right-content .hreo-skin .new-hero a{
    display: block;
}
.right-content .hreo-skin .new-hero a img{
    width: 100%;
}
.right-content .hreo-skin .desc{
    padding: 10px 15px;
    height: 68px;
    border: 1px solid #e5e5e5;
    border-top: none;
    border-radius: 0 0 2px 2px;
}
.right-content .hreo-skin .hreo-name{
    font-size: 18px;
}
.right-content .hreo-skin .date{
    font-size: 12px;
    color: #999;
}
.right-content .hreo-skin .hero-list{
display: flex;
justify-content: space-between;
margin-bottom: 50px;
}
.right-content .hreo-skin .hero-list .pic{
    position: relative;
    width: 68px;
    height: 173px;
}
.right-content .hreo-skin  .pic .mask{
    display: flex;
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    color: #f3c258;
    writing-mode: vertical-lr;
    background-color: rgba(0,0,0,.88);
    transition: .5s;
}
.right-content .hreo-skin  .pic:hover .mask{
    opacity: 1;
}


.right-content .kpl-schedule .schedule-time{
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}
.right-content .kpl-schedule .schedule-time thead tr{
    height: 32px;
    line-height: 32px;
    background-color: #f5f5f5;
    color: #999;
}
.right-content .kpl-schedule .schedule-time tbody tr{
  border-bottom: 1px solid #e5e5e5;
}
.right-content .kpl-schedule .schedule-time tbody .pic{
    margin-bottom: 3px;
}
.right-content .kpl-schedule .schedule-time tbody img{
    width: 25px;
    height: 25px;
}
.right-content .kpl-schedule .schedule-time tbody td{
    width: 25px;
    height: 25px;
    padding: 10px 0;
    font-size: 12px;
    
}
.right-content .kpl-schedule .schedule-time tbody td:nth-child(3){
    font-size: 14px;
    color: #f3c258;
}

.right-content .kpl-schedule .match-schedule{
  display: block;
  margin-top: 20px;
}