.right-nav{
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 254px;
  height: 494px;
  padding-left: 30px;
  z-index: 0;
  background: url(../upload/r_navBg.png);
}
.right-dj{
  position: relative;
}
.right-dj span{
  position: absolute;
  top: 35px;
  left: 12px;
  width: 88px;
  height: 36px;
  font-weight: bold;
  line-height: 18px;
  color: #62401b;
  overflow: hidden;
}
.right-list{
  position: relative;
  left: 60px;
}
.right-list li{
  position: relative;
  width: 117px;
  height: 38px;
  background: url(../upload/r_all.png) no-repeat;
}
.right-list .code{
  height: 116px;
  text-align: center;
  background-position: 0 -3px;
}
.right-list .code img{
  width: 111px;
  height: 110px;
  margin: 3px;
}
.right-list a{
  display: block;
  height: 38px;
}
.right-list .weibo{
  background-position: -122px -120px;
}
.right-list .weibo:hover{
  background-position: -122px -240px;
}
.right-list .gzh{
  background-position: -122px -160px;
}
.right-list .gzh:hover{
  background-position: -122px -200px;
}
.right-list .sph{
  background-position: -122px 0;
}
.right-list .sph:hover{
  background-position:  -122px -42px;
}
.right-list li .nav-contact{
  display: none;
  position: absolute;
  top: -66px;
  left: -100%;
  width: 115px;
  height: 151px;
  padding-top: 7px;
  text-align: center;
  background: url(../upload/r_all.png) 0 -416px;
}
.right-list li:hover .nav-contact{
  display: block;
  animation: transit 1s;
}
.right-list li .nav-contact p{
  margin-top: 5px;
  line-height: 16px;
  font-size: 12px;
  color: #dcdcdc;
}
.right-list li .nav-contact p span{
  color: #cd974b;
}