.top {
  position: relative;
  padding: 0 5px;
  height: 41px;
  line-height: 41px;
  border-bottom: 1px solid #f5f5f5;
  font-size: 14px;
  background-color: #fff;
  z-index: 10;
}

.top .area {
  position: relative;
  justify-content: space-between;
}
.top .area .recommend-ad{
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}
.top .area .recommend:hover .recommend-ad{
  display: block;
}
.top .left-area .logo a {
  display: block;
  position: relative;
  z-index: 999;
  width: 150px;
  height: 41px;
  text-indent: -9999px;
  background: url(../image/logo\ \(1\).png) no-repeat center;
}


.top .right-area .item {
  position: relative;
  margin-left: 20px;
}
.top .right-area .item.grow:hover{
  color: #ff4e00;
}
.top .right-area .item.grow::before,
.top .right-area .item.rank::after {
  position: absolute;
  content: '';
  top: 0;
  bottom: 0;
  margin: auto 0;
  width: 30px;
  height: 30px;
  background: url(../image/title_sprite.png) no-repeat;
}
.top .right-area .item.grow::before{
  left: -30px;
  background-position: -30px 0;
}
.top .right-area .item.rank::after{
  transform: rotate(90deg);
  opacity: .1;
}
.top .right-area .item-rank {
  padding-right: 30px;
}
.top .right-area .item-rank .dropdown{
  position: relative;
  
}
.top .right-area .item-rank .dropdown iframe{
  display: none;
  position: absolute;
  top: 100%;
  right: -30px;
  width: 707px;
  height: 580px;
  overflow: hidden;
}
.top .right-area .item-rank:hover .dropdown  iframe{
  display: block;
  animation: transit .4s;
}